<h1 class="center">Liste de Pokémons</h1>

<!-- <input 
    #input
    type="number"
    (keyup.enter)="selectPokemon(input.value)"
/>

<p *ngIf="pokemonSelected"> 
    Vous avez sélectionné le pokèmon : {{ pokemonSelected?.name }}
</p>
<p *ngIf="!pokemonSelected"> 
    Aucun pokèmon n'a été trouvé.
</p> -->

<div class="container">
    <div class="row">
    
        <div class="col s6 m4 l3" *ngFor="let pokemon of pokemonList">
            <div class="card horizontal" (click)="selectPokemon(pokemon.id)" pkmnBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p><small>{{ pokemon.created }}</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>